@model CalcService.Models.CalculationModel

@{
    ViewData["Title"] = "AccessServiceDirectly";
}

<h2>AccessServiceDirectly</h2>
<p>Rand First Number: @Model.FirstNumber</p>
<p>Rand Second Number: @Model.SecondNumber</p>
<p>Add:</p>
@Model.Addition
<p>Subtract:</p>
@Model.Subtraction
<p>Multiply:</p>
@Model.Multiplication
<p>Divide:</p>
@Model.Division
