@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>
<p>Rand First Number: @ViewBag.FirstNumber</p>
<p>Rand Second Number: @ViewBag.SecondNumber</p>
<p>Add:</p>
@ViewBag.Addition
<p>Subtract:</p>
@ViewBag.Subtraction
<p>Multiply:</p>
@ViewBag.Multiplication
<p>Divide:</p>
@ViewBag.Division
