@{
    ViewData["Title"] = "PassUsingViewData";
}

<h2>PassUsingViewData</h2>
<p>Rand First Number: @ViewData["FirstNumber"]</p>
<p>Rand Second Number: @ViewData["SecondNumber"]</p>
<p>Add:</p>
@ViewData["Addition"]
<p>Subtract:</p>
@ViewData["Subtraction"]
<p>Multiply:</p>
@ViewData["Multiplication"]
<p>Divide:</p>
@ViewData["Division"]
